<ion-view>
	<ion-content>
		<div class="hero no-header flat">
				<div class="content">
						<h1>Sign up</h1>
				</div>
		</div>
		<div class="padding"></div>
		<form name="ValidForm">
			<md-input-container class="md-block">
				<label>Email</label>
				<input required name="clientEmail" type="email" ng-model="signup.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
				<div ng-messages="ValidForm.clientEmail.$error" role="alert">
				<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
					Your email must be between 10 and 100 characters long and look like an e-mail address.
				</div>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Password</label>
				<input required name="clientPassword" ng-model="signup.password">
				<div ng-messages="ValidForm.clientPassword.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>
			<div class="padding"></div>
			<div class="padding">
				<button class="button button-small button-block button-positive ink" ng-click="CreateAccount()">Go Futher</button>
			</div>
	</form>
	</ion-content>
</ion-view>
