<ion-view>
	<ion-nav-bar>	
    	<ion-nav-title>
	      <h5>Register</h5>
	    </ion-nav-title>	
		<ion-nav-buttons side="left">
			<button class="button-clear" ng-click="myGoBack()"><i class="ion-arrow-left-c"></i></button>
		</ion-nav-buttons>			
	</ion-nav-bar>
	<ion-content>
		<div class="">
		<span class="padding"><h5 class="padding">Show for Everybody your vision about your World. Using the celphone camera you can realize fantastic picture and moment unforgetness</h5></span>
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Email" ng-model="sign.email">
		  </label>
		  <span class="padding"></span>
		  <span class="padding"></span>
		  <label class="item item-input">
		    <input type="password" placeholder="Password" ng-model="sign.password">
		  </label>
		</div>	
		<div class="padding">
			<button class="button button-block button-positive" ng-click="CreateAccount()">Give me a click</button>
		</div>

		<div class="padding">

			<button>Facebook</button>

		</div>				
	</ion-content>
</ion-view>