<ion-view>
	<ion-content>
		<div class="card list" ng-repeat="user in users">
			<div class="item item-avatar" ng-click="redirect(user.uid)">
						<img ng-src="{{user.avatar}}">
						<b class="col">{{user.nickname}}</b>
						<h2 class="col">{{user.date_posted | date : ' MMMM d , y '}}</h2>
			</div>
			<div class="item item-text-wrap">
				<img class="full-image" ng-src="{{user.image}}">
			</div>
			<div class="item item-divider">
				<span class="padding"></span>
				<p>{{user.nickname}} says:</p>
				<p>{{user.description}}</p>
			</div>
			<div class="item item-divider">
				<span class="padding"></span>
				<a class="button button-icon icon ion-heart"></a>
			</div>
		</div>
	</ion-content>
</ion-view>
